body{

    background: url(https://i.artfile.ru/2500x1503_953046_[www.ArtFile.ru].jpg);
    font-family: 'Suez One', serif;
    width: 100%;
    background-position: center;
    background-blend-mode: miltiply;
}

h1{
    margin: 0;
    text-transform: uppercase;
    padding-bottom: 10px; /*отступ снизу*/
    border-bottom: 3px solid rgb(0, 0, 0);
    text-align: center;
    color: #fff;
}

form{
    background: url(https://phonoteka.org/uploads/posts/2021-03/1616659335_57-p-zadnii-fon-dlya-saita-60.jpg);
    border-radius: 20px;
    text-align: center;
    margin-left: 500px;
    margin-right: 500px;
    margin-top: 200px;
    padding-top: 40px;
    padding-bottom: 30px;
    background-position: center;
}

span{
    color: #fff;
}

.group{
    padding-top: 10px;
    color: #fff;
}

input{
    margin-top: 10px;
    height: 25px;
    max-width: 200px;
    border-radius: 15px;
    border: none;
}

button{
    border-radius: 15px;
    border: none;
    height: 40px;
    background-color: rgb(145, 114, 165);
    color: #fff;
}

.menu{
    margin-left: 875px;
    margin-top: 20px;
}

p{
    color:#fff;
}
